.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  background-color: white;
  padding: 1rem;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80rem;
  max-height: 70rem;
  min-width: 20rem;
  min-height: 18rem;
}
.imgContainer {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 15rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}
.imgContainer img {
  border-radius: 0.2rem;
  max-width: 20rem;
  max-height: 15rem;
}
.caption {
  white-space: wrap;
  max-lines: 2;
  max-width: 18rem;
  max-height: 3rem;
  overflow: auto;
}
.postActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  padding: 0.5rem 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}
/* .postActions button {
  max-width: 2rem;
  margin: 0.3rem;
} */
.postActions span {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
}

.postRight {
  display: flex;
  flex-direction: column;
}
.commentSection {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}
.postCommentHeader p {
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.comments {
  /* border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  max-height: 10rem;
}
.comments::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.comment {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* .comment img {
  border-radius: 50%;
  object-fit: contain;
  max-width: 2rem;
  margin: 0.3rem;
} */
.comment p {
  margin-left: 0.2rem;
  max-width: 15rem;
  max-height: 3rem;
  /* overflow-y: auto;
  overflow-wrap: break-word; */
  font-size: 1.2rem;
  font-weight: 400;
}
.comment p {
  /* border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  max-height: 10rem;
}
.comment p::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.addComment {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
/* .addComment img {
  border-radius: 50%;
  object-fit: contain;
  max-width: 2rem;
  margin: 0.3rem;
} */
.addComment input {
  outline: none;
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 0.2rem;
  width: 100%;
  border: none;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.addComment button {
  border: none;
  margin: 0 0.3rem;
}
@media (min-width: 600px) {
  .post {
    display: flex;
    flex-direction: row;
    min-width: 30rem;
    min-height: 28rem;
  }
  .imgContainer {
    width: 30rem;
    height: 25rem;
  }
  .imgContainer img {
    max-width: 30rem;
    max-height: 25rem;
  }
  .commentSection {
    margin-top: 0;
  }
  .postCommentHeader {
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
  }
  .postRight {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 1rem;
  }
  .commentSection {
    flex: 0.85;
  }
  .comments {
    max-height: 21rem;
    min-height: 21rem;
  }
  .addComment {
    flex: 0.15;
    margin-top: 1rem;
    padding: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  }
}
