/* .home {
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
} */

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
  background-color: white;
}

/* profile */
.profile {
  min-height: 100%;
}
/* profile info */
.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.imgContainerProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 5rem;
  max-height: 5rem;

  margin-bottom: 0.75rem;
}
.imgContainerProfile img {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
}
.profileBio p {
  text-align: center;
}
.userName {
  font-size: 1.5rem;
  font-weight: 400;
}
.userBio {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 0.75rem;
}
.profileConnections p {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.3rem;
}
.profileConnections span {
  font-size: 1rem;
  font-weight: 300;
}
.profileConnections {
  display: flex;
  justify-content: space-between;
}
.profileActions {
  display: flex;
  flex-direction: column;
}
.profileActions button {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}
.profileActions button:hover {
  background-color: rgb(0, 119, 255);
  color: white;
}
@media (min-width: 600px) {
  .profileInfo {
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .imgContainerProfile {
    max-width: 15rem;
    max-height: 15rem;
    margin-right: 3rem;
    margin-bottom: 0;
  }
  .profileBio {
    flex-grow: 2;
    max-width: 20rem;
  }
  .imgContainerProfile img {
    max-width: 15rem;
    max-height: 15rem;
    border-radius: 50%;
  }
  .profileConnections {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 900px) {
  .imgContainerProfile img {
    max-width: 10rem;
    border-radius: 50%;
  }
}

/* profile posts */

.profilePosts {
  padding: 0.75rem;
  box-sizing: border-box;
}
.profilePostContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.profilePosts h3 {
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}
.profilePostContainer img {
  width: 15rem;
  height: 15rem;
  object-fit: scale-down;
}
.profilePostContainer li {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  max-width: 15rem;
  max-height: 15rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
  margin: 0.2rem;
}
@media (min-width: 600px) {
  .profilePostContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profilePosts h3 {
    font-size: 1.2rem;
  }
  .profilePostContainer img {
    max-width: 15rem;
    max-height: 15rem;
  }
  .profilePostContainer li {
    max-width: 15rem;
    max-height: 15rem;
    cursor: pointer;
    margin: 0.5rem;
    margin-top: 0;
  }
}
@media (min-width: 900px) {
  .profilePostContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
