.home {
  background-color: whitesmoke;
}
.container {
  /* display: flex;
  justify-content: space-between; */
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
  background-color: white;
}
.card {
  /* padding: 1rem; */
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

/* feed */

.feed {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
}
.userInfo {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
}
.userInfoContainer {
  border-radius: 50%;
  max-width: 2rem;
  max-height: 2rem;
  margin: 0.3rem;
}
.userInfo img {
  border-radius: 50%;
  max-width: 2rem;
  max-height: 2rem;
  margin: 0.3rem;
}
.userInfo p {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.feedImgContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 15rem;
  cursor: pointer;
}
.feedImgContainer img {
  max-width: 20rem;
  max-height: 15rem;
  margin: 0 auto;
}
.feedPostActions {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0.5rem;
}
.feedPostActionsLikes {
  display: flex;
  align-items: center;
}
.feedPostActionsLikes button {
  margin: 0.3rem;
  padding: 0;
  border: none;
}
.feedPostActionsLikes span {
  font-size: 1rem;
  font-weight: 400;
  margin-right: 1rem;
}
.feedPostActionsCaption span {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}
.createPostSm {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgba(0, 120, 200, 1);
  color: white;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.createPost {
  display: none;
}
.createPostSm:hover {
  background-color: rgba(0, 120, 200, 0.8);
}
@media (min-width: 600px) {
  .createPostSm {
    display: none;
  }
  .createPost {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    width: 20rem;
    margin-top: 1rem;
    color: black;
    position: static;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;
    padding: 0.2em 0.5em;
    cursor: pointer;
  }
  .createPost:hover {
    color: white;
    background: linear-gradient(
      90deg,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 107, 1) 100%
    );
  }
}
@media (min-width: 900px) {
  .createPost {
    width: 25rem;
  }
  .feedImgContainer {
    width: 25rem;
    height: 20rem;
  }
  .feedImgContainer img {
    max-width: 25rem;
    max-height: 20rem;
  }
}
