.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
  background-color: white;
}
/* navbar */
.navbar .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.navbar {
  position: sticky;
  top: 0;
  padding: 0.75rem 1.5rem;
  background-color: white;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
/* .navbar .brand {
  font-size: 1.5rem;
} */
.brand {
  font-size: 2rem;
  font-family: "Grand Hotel", cursive;
  color: black;
  cursor: pointer;
}
.navigationlinks a {
  margin: 0 1rem;
  padding: 0 1rem;
}
